/* Card.css */

/* Desktop view styles */

.tickets-container {
  width: 107%;
}

.card {
  width: 346px;
  height: 600px;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  background-color: #000;
  color: #fff;
}

.card-header {
  background-color: #e3dcd4;
  color: #000;
  padding: 10px;
  text-align: start;
  margin-top: 114px;
  margin-left: 195px;
}

.header-content {
  color: #000;
}

.ticket-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 222px;
}

.card-content {
  padding: 16px;
  color: #fff;
}

.content-ticket {
  color: #fff;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-actions {
  text-align: center;
  padding: 15px;
  width: 100%;
  border: 2px solid #fff;
}

/* Mobile view styles */

@media (max-width: 767px) {
  .ticket-list {
    flex-direction: column;
    margin: 0;
  }

  .card {
    width: 100%;
    height: auto;
    margin: 16px 0;
  }

  .card-header {
    margin-top: 20px;
    margin-left: 16px;
  }
}
