.key-speakers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #000;
  color: #fff;
  width: 100%; /* Set the width to 100% */
  height: 100vh;
  margin-top: 135px;
}

.speakers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1125px;
  height: 481px;
  gap: 20px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-top: 135px;
}

/* Other existing styles remain unchanged */
.speakers {
  flex: 1;
  text-align: left; /* Align text to the left */
}

.semi-circle2 {
  rotate: 180deg;
  width: 55px;
  height: 113px;
  flex-shrink: 0;
  margin-left: -33px;
  margin-top: -338px;
}

.designation {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 0.5rem;
}

h1 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 1.5rem;
  border-radius: 8px;
}

p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.32px;
  margin-bottom: 1.5rem;
}

button {
  color: #fff;
  background-color: #313131;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  padding: 0.6rem 1.5rem;
  border: none;
  cursor: pointer;
}

.speakers-images {
  flex: 1;
  text-align: left; /* Align text to the left */
}

.speakers-images img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.see-speakers-button {
  margin-top: 1.5rem;
}

.all-speakers-button {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .key-speakers-container,
  .speakers-container {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .speakers,
  .speakers-images {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .semi-circle2 {
    display: none;
  }
}
